.app {
    border: 1px solid black;
    border-radius: 10px;
    border: none;
    width: 60%;
    min-height: 100vh;
    margin: 20px auto 50px auto;
    text-align: center;
    padding: 20px;
    background: rgb(96,43,166);
    background: linear-gradient(0deg, rgba(96,43,166,1) 0%, rgba(1,7,37,1) 100%);

    .clear {
        background: rgb(15,152,232);
        background: linear-gradient(0deg, rgba(15,152,232,1) 0%, rgba(187,186,55,1) 100%);
    }

    .clouds {
        background: rgb(32,97,111);
        background: linear-gradient(0deg, rgba(32,97,111,1) 0%, rgba(34,23,19,1) 100%);
    }

    .title-page {
        margin-bottom: 20px;
        color: #fff;
    }
}